@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --app-secondary: rgba(62, 155, 255, 1);
  --error: rgba(241, 137, 137, 1);
  --ffffff: rgba(255, 255, 255, 1);
  --heading-h2-headline-font-family: "Roboto", Helvetica;
  --heading-h2-headline-font-size: 32px;
  --heading-h2-headline-font-style: normal;
  --heading-h2-headline-font-weight: 700;
  --heading-h2-headline-letter-spacing: 0px;
  --heading-h2-headline-line-height: 40px;
  --heading-h6-headline-font-family: "Roboto", Helvetica;
  --heading-h6-headline-font-size: 16px;
  --heading-h6-headline-font-style: normal;
  --heading-h6-headline-font-weight: 700;
  --heading-h6-headline-letter-spacing: 0px;
  --heading-h6-headline-line-height: 24px;
  --hyperlink-body-1-font-family: "Roboto", Helvetica;
  --hyperlink-body-1-font-size: 16px;
  --hyperlink-body-1-font-style: normal;
  --hyperlink-body-1-font-weight: 400;
  --hyperlink-body-1-letter-spacing: 0px;
  --hyperlink-body-1-line-height: 24px;
  --little-voices-navy: rgba(56, 66, 89, 1);
  --other-button-font-family: "Roboto", Helvetica;
  --other-button-font-size: 16px;
  --other-button-font-style: normal;
  --other-button-font-weight: 500;
  --other-button-letter-spacing: 0px;
  --other-button-line-height: 24px;
  --subtitle-subtitle-2-font-family: "Roboto", Helvetica;
  --subtitle-subtitle-2-font-size: 14px;
  --subtitle-subtitle-2-font-style: normal;
  --subtitle-subtitle-2-font-weight: 700;
  --subtitle-subtitle-2-letter-spacing: 0px;
  --subtitle-subtitle-2-line-height: 24px;
  --successful: rgba(144, 236, 144, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#384259] text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}